@model IEnumerable<CollectionManagement.Models.Book>

@{
    ViewData["Title"] = "Index";
    var book = Model.FirstOrDefault();
}
<h1>All Books</h1>
<a class="btn btn-primary" asp-controller="Collections" asp-action="Index" style="margin-bottom: 30px;">Back to Collections</a>
<a class="btn btn-success" asp-action="Create" asp-route-collectionId="@book.CollectionId" style="margin-bottom: 30px;">Add a new Book</a>

<div class="d-flex flex-wrap">
    @foreach(var item in Model)
    {
        <div class="card" style="width: 18rem; margin-bottom: 10px; margin-right: 20px;">
            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap" style="height: 250px;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Author</p>
                <a class="btn btn-primary" asp-area="User" asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-success" asp-area="User" asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-area="User" asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>