@using CollectionManagement.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@model List<CollectionManagement.Models.AppUser>

@{
    ViewData["Title"] = "User Management";
}

<div class="container mt-4">
    <h1>User Management</h1>

    <div class="text-start">
        <button type="submit" class="btn btn-danger block-button">Block <i class="bi bi-lock-fill"></i></button>
        <button type="submit" class="btn btn-success unblock-button"><i class="bi bi-unlock-fill"></i></button>
        <button type="submit" class="btn btn-warning delete-button"><i class="bi bi-trash-fill"></i></button>
    </div>
    <br />

    <table class="table table-striped mt-4" id="userTable">
        <thead>
            <tr>
                <th>
                    Block
                </th>
                <th>Id</th>
                <th>Email</th>
                <th>UserName</th>
                <th>Role</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input block-checkbox" type="checkbox" value="" data-user-id="@user.Id">
                            @* <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label> *@
                        </div>
                    </td>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>
                        @foreach (var role in await UserManager.GetRolesAsync(user))
                        {
                            <span class="badge badge-primary">@role</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<script>
    $(document).ready(function () {
        $('.delete-button').click(function () {

            var checkedCheckboxes = $('#userTable').find('.block-checkbox:checked');

            if (checkedCheckboxes.length === 0) { 
                alert('Please select at least one user to block');
                return;
            }

            var userIds = [];

            checkedCheckboxes.each(function () {
                userIds.push($(this).data('user-id');
            });

            $.ajax({
                url: '/Admin/Manage/Delete',
                type: 'POST',
                dataType: 'json',
                data: { userIds: userIds },
                success: function (data) {
                    alert('Deleted successfully');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX error:', textStatus, errorThrown);
                    alert('Error, not deleted');
                }
            });
        });
    });
</script>