@model IEnumerable<CollectionManagement.ViewModels.MyCollection.MyCollectionVM>

<div class="d-flex" style="margin-bottom: 30px;">
    <div>
        <h2>Latest collections and items</h2>
        <a asp-area="User" asp-controller="Collections" asp-action="Create" type="button" class="btn btn-primary">Create collection</a>
    </div>
    <div>
        <div class="input-group mb-3" style="margin-left: 200px;">
          <input type="text" class="form-control" aria-describedby="basic-addon2" style="width: 300px;">
          <div class="input-group-append">
            <button class="btn btn-success" type="button">Search</button>
          </div>
        </div>
    </div>
</div>
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem; margin-bottom: 10px; margin-right: 20px;">
            <img class="card-img-top" src="@item.ImageSrc" alt="Card image cap" style="width: 250px; height: 200px; margin-bottom: 5px;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <a class="btn btn-primary" asp-area="User" asp-controller="Collections" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-success" asp-area="User" asp-controller="Collections" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-area="User" asp-controller="Collections" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>